snippet main "main" Aw
if __name__ == '__main__':
	$0
endsnippet

snippet importall "importall" Aw
import torch
import numpy as np
import matplotlib.pylot as plt
import pandas as pd
endsnippet
	
snippet importnp "importnp" Aw
import numpy as np
endsnippet


snippet importplot "importplot" Aw
import matplotlib.pylot as plt
endsnippet

snippet importpd "imporpd" Aw
import pandas as pd
endsnippet

snippet nq "!=" w
!=
endsnippet
